@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700|PT++Mono);

:root {
    --primary-color: lightcoral;
    --secondary-color: DimGrey;
    --tertiary-color: Gainsboro;
}

body {
    background-color: var(--primary-color);
    font-size: 15px;
    font-family: Lato, sans-serif;
}